{% extends "base.html.twig" %}

{% block body %}
    <div class="container jumbotron">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{ 'login.form.title'|trans }}</h3>
                    </div>
                    <div class="panel-body">
                        {% if error %}
                            <div class="alert alert-danger" role="alert">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form accept-charset="UTF-8" action="{{ path('login') }}" method="post" role="form">
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="{{ 'login.form.username.label'|trans }}" required name="_username" type="text">
                                </div>
                                <div class="form-group">
                                    <input class="form-control" placeholder="{{ 'login.form.password.label'|trans }}" required name="_password" type="password" value="">
                                </div>
                                <input class="btn btn-lg btn-success btn-block" type="submit" value="{{ 'login.form.submit'|trans }}">
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}